<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kamilzemczak.runny">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TrainingActivity"
            android:label="@string/title_activity_training"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchFriendsActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_activity_historiy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DecisionActivity"
            android:label="@string/title_activity_decision"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ViewUserProfileActivity"
            android:label="@string/title_activity_view_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FriendActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserFriendList"
            android:label="@string/title_activity_user_friend_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>